<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}"></title>

    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
    <h1 th:text="#{welcome.message}"></h1>
    <ul>
        <li><a th:href="@{/vagas}" th:text="#{menu.viewVagas}"></a></li>
        <li><a th:href="@{/admin/empresas}" th:text="#{menu.companiesAdmin}"></a></li>
        <li><a th:href="@{/admin/profissionais}" th:text="#{menu.professionalsAdmin}"></a></li>
        <li><a th:href="@{/upload}" th:text="#{menu.uploadResume}"></a></li>
    </ul>

    <a th:href="@{/logout}" th:text="#{menu.logout}"></a>

    <div style="margin-top: 20px;">
        <a th:href="@{/(lang=pt)}" th:text="#{lang.portuguese}"></a> |
        <a th:href="@{/(lang=en)}" th:text="#{lang.english}"></a>
    </div>
</body>
</html>