<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Profissional</title>
</head>
<body>
<h1>Cadastro de Profissional</h1>
<form th:action="@{/admin/profissionais}" th:object="${profissional}" method="post">
    <input type="hidden" th:field="*{id}" />
    Email: <input type="text" th:field="*{email}" /><br/>
    Senha: <input type="password" th:field="*{senha}" /><br/>
    CPF: <input type="text" th:field="*{cpf}" /><br/>
    Nome: <input type="text" th:field="*{nome}" /><br/>
    Telefone: <input type="text" th:field="*{telefone}" /><br/>
    Sexo: <input type="text" th:field="*{sexo}" /><br/>
    Data Nascimento: <input type="date" th:field="*{dataNascimento}" /><br/>
    <button type="submit">Salvar</button>
</form>
<a th:href="@{/admin/profissionais}">Voltar</a>
</body>
</html>